{% extends "base.html" %} {% load static %} {% block title %} Register {% endblock title %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock css_files %} {% block content %}
<img src='{% static "img/shopping.jpg" %}'>
<div class="login-form">
    <p class='title'>Register</p>
    <form method="post">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">Register</button>
    </form>
    <p>Have an account? Login <a href="{% url 'login' %}">here</a></p>
</div>

{% endblock content %}