{% extends "base.html" %} {% load static %} {% block title %} Leave Review {% endblock title %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock css_files %} {% block content %}
<img src='{% static "img/shopping.jpg" %}'>
<div class="login-form">
    <p class='title'>Add Product</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">Leave Review</button>
        <button type="reset">Reset</button>
        <a href="{% url 'Profile' %}" class='back-btn'>Back</a>
    </form>
</div>
{% endblock content %}