{% extends "base.html" %} {% load static %} {% block title %} Get Started {% endblock title %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/get_started.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock css_files %} {% block content %}
<h1 class="title">Get Started</h1>
<div class="segments">
    <p>Contents</p>
    <ol>
        <li><a href="#getting-started">Getting Started</a></li>
        <li><a href="#login-and-register">Login And Register</a></li>
        <li><a href="#buy-product">Buying Products</a></li>
        <li><a href="#sell-product">Selling Products</a></li>
        <li><a href="#edit-profile">Edit Profile</a></li>
        <li><a href="#edit-product">Edit Product</a></li>
        <li><a href="#delete-product">Delete A Product</a></li>
        <li><a href="#leave-review">Leave Review</a></li>
    </ol>
</div>
<div id="getting-started">
    <p class="sub-title">Getting Started</p>
    <p class="steps-desc">Here's what should you know when you are using this website</p>
    <ol class="steps">
        <li>This is just a mockup</li>
        <li>You start with Rp 100.000.000,00 everytime you make an account</li>
        <li>You lose money when you buy stuff (duh)</li>
        <li>You earn money by selling items</li>
        <li>You can see all of the products you sell via checking your order</li>
        <li>You can see all of the products you sell via checking your own profile</li>
        <li>You can leave a review to a product after you bought it (But not your own items bruh)</li>
        <li>Lastly, have fun!</li>
    </ol>
</div>
<div id="login-and-register">
    <p class="sub-title">Login And Register</p>
    <p class="steps-desc">Being an user in this site enables you to buy, sell, and leave reviews. Fear not, we will teach you how to do it in this website</p>
    <p class='dm'>Desktop</p>
    <ol class="steps">
        <li>Click Login (On the top right corner)</li>
        <li>Fill in the form</li>
        <li>Congrats you have just added a new product!</li>
    </ol>
    <p class='dm'>Mobile</p>
    <ol class="steps">
        <li>Click the menu (Located at the top right corner)</li>
        <li>Click Login</li>
        <li>Fill in the form</li>
        <li>Congrats you have just added a new product!</li>
    </ol>
</div>
<div id="buy-product">
    <p class="sub-title">Buying Products</p>
    <p class="steps-desc">Maybe you have found a product that you want to buy. Fear not, we will teach you how to do it in this website</p>
    <p class='dm'>Desktop</p>
    <ol class="steps">
        <li>Click the product's name, and you'll be redirected to the product page</li>
        <li>Enter the amount you want to buy, and you'll be redirected to your Cart</li>
        <li>Click the checkout button</li>
        <li>Congrats you have just bought a new product!</li>
    </ol>
    <p class='dm'>Mobile</p>
    <ol class="steps">
        <li>Click the product's name, and you'll be redirected to the product page</li>
        <li>Click the up arrow button, and a </li>
        <li>Enter the amount you want to buy, and you'll be redirected to your Cart</li>
        <li>Click the checkout button</li>
        <li>Congrats you have just bought a new product!</li>
    </ol>
</div>
<div id="sell-product">
    <p class="sub-title">Adding Products</p>
    <p class="steps-desc">Maybe you got bored on buying stuffs, and you want to sell something. Fear not, we will teach you how to do it in this website</p>
    <p class='dm'>Desktop</p>
    <ol class="steps">
        <li>Go to your profile (On the top right corner)</li>
        <li>Click on the "Add New Product" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just added a new product!</li>
    </ol>
    <p class='dm'>Mobile</p>
    <ol class="steps">
        <li>Click the menu (Located at the top right corner)</li>
        <li>Go to your profile (The last one)</li>
        <li>Click on the "Add New Product" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just added a new product!</li>
    </ol>
</div>
<div id="edit-profile">
    <p class="sub-title">Editing Profile</p>
    <p class="steps-desc">Maybe you don't like your name, and you want to change it. Fear not, we will teach you how to do it in this website</p>
    <p class='dm'>Desktop</p>
    <ol class="steps">
        <li>Go to your profile (On the top right corner)</li>
        <li>Click on the "Edit Profile" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just edited your profile!</li>
    </ol>
    <p class='dm'>Mobile</p>
    <ol class="steps">
        <li>Click the menu (Located at the top right corner)</li>
        <li>Go to your profile (The last one)</li>
        <li>Click on the "Edit Profile" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just edited your profile!</li>
    </ol>
</div>
<div id="edit-product">
    <p class="sub-title">Editing A Product</p>
    <p class="steps-desc">Maybe you misinputed something about your product, and you want to change it. Fear not, we will teach you how to do it in this website</p>
    <p class='dm'>Desktop</p>
    <ol class="steps">
        <li>Go to your profile (On the top right corner)</li>
        <li>Choose which product you want to edit</li>
        <li>Click on the "Edit Product" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just edited your product!</li>
    </ol>
    <p class='dm'>Mobile</p>
    <ol class="steps">
        <li>Click the menu (Located at the top right corner)</li>
        <li>Go to your profile (The last one)</li>
        <li>Choose which product you want to edit</li>
        <li>Click on the "Edit Profile" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just edited your product!</li>
    </ol>
</div>
<div id="delete-product">
    <p class="sub-title">Editing A Product</p>
    <p class="steps-desc">Maybe you misinputed something about your product, and you want to change it. Fear not, we will teach you how to do it in this website</p>
    <p class='dm'>Desktop</p>
    <ol class="steps">
        <li>Go to your profile (On the top right corner)</li>
        <li>Choose which product you want to delete</li>
        <li>Click on the "Delete" Button</li>
        <li>Congrats you have just deleted a product!</li>
    </ol>
    <p class='dm'>Mobile</p>
    <ol class="steps">
        <li>Click the menu (Located at the top right corner)</li>
        <li>Go to your profile (The last one)</li>
        <li>Choose which product you want to delete</li>
        <li>Click on the "Delete" Button</li>
        <li>Congrats you have just deleted a product!</li>
    </ol>
</div>
<div id="leave-review">
    <p class="sub-title">Leaving A Review</p>
    <p class="steps-desc">Maybe you have a great experience regarding a product and you want to leave a review. Fear not, we will teach you how to do it in this website</p>
    <p class='dm'>Desktop</p>
    <ol class="steps">
        <li>Go to "Your Order"</li>
        <li>Choose which product you want to review</li>
        <li>Click on the "Leave Review" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just left a review!</li>
    </ol>
    <p class='dm'>Mobile</p>
    <ol class="steps">
        <li>Click the menu (Located at the top right corner)</li>
        <li>Go to "Your Order"</li>
        <li>Choose which product you want to review</li>
        <li>Click on the "Leave Review" Button</li>
        <li>Fill in the form</li>
        <li>Congrats you have just left a review!</li>
    </ol>
</div>
<footer>
    <div class="column">
        <form action="{% url 'Send Message' %}" method="post">
            {% csrf_token %}
            <p class='title'>Contact Me</p>
            <input type="text" name="name" placeholder="Name" id="id_home_name" required>
            <input type="email" name="email" placeholder="Email" id="id_home_email" required>
            <textarea rows='3' cols="20" wrap="hard" name="message" placeholder="Message" id="id_home_message" required></textarea>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
        <div class="other-links">
            <p class="title">My Other Site</p>
            <ul>
                <li><a href='//shsxii-todolist.herokuapp.com'>MY ToDo List</a></li>
                <li><a href="//codewithyang.herokuapp.com">Personal Website</a></li>
            </ul>
        </div>
    </div>

    <p class="copyright"><small>&copy; Copyright 2021, Code With Yang</small></p>
</footer>
{% endblock content %}