{% extends "base.html" %} {% load format %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock css_files %} {% block content %}
<div class="hero">
    <img src="{% static 'img/shopping.jpg' %}">
    <div class="intro">
        <p class='intro-text'>TS Ecom</p>
        <p>Buying Stuff Has Never Been This Easy</p>
        <a href="#learn-more" id="learn-more-btn">Learn More</a>
    </div>
</div>
<div id="learn-more">
    <p class="title">Newest Products</p>
    <ul class="new-product">
        {% for product in products %}
        <li class="product">
            <div class="product-image">
                <img src="{{product.image.url}}" alt="{{product.name}}">
            </div>
            <div class="product-detail">
                <a href="{% url 'Product' product.id %}" class='product-name'>{{product.name | truncatechars:15}}</a>
                <p class='product-price'><small>{% rupiah_format product.price %}</small></p>
                <p class="sold-amount">Sold : {{product.sold}}</p>
                <div class="extra-detail">
                    <div class="product-shop">
                        {% if product.seller.image.url %}
                        <img src="{{product.seller.image.url}}"> {% else %}
                        <img src="{% static 'img/default.png' %}" class="default-img"> {% endif %} {% if product.seller.user.first_name == "" %}
                        <a href="{% url 'Public Profile' product.seller.id %}">{{product.seller.user}}</a> {% else %}
                        <a href="{% url 'Public Profile' product.seller.id %}">{{product.seller.user.first_name}}</a> {% endif %}
                    </div>
                    <p><i class="fas fa-star"></i> {{product.rating}}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="btn">
        <a href="{% url 'All Products' %}" id='view-all-btn'>View All Products</a>
    </div>

</div>
<footer>
    <div class="column">
        <form action="{% url 'Send Message' %}" method="post">
            {% csrf_token %}
            <p class='title'>Contact Me</p>
            <input type="text" name="name" placeholder="Name" id="id_home_name" required>
            <input type="email" name="email" placeholder="Email" id="id_home_email" required>
            <textarea rows='3' cols="20" wrap="hard" name="message" placeholder="Message" id="id_home_message" required></textarea>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
        <div class="other-links">
            <p class="title">My Other Site</p>
            <ul>
                <li><a href='//shsxii-todolist.herokuapp.com'>MY ToDo List</a></li>
                <li><a href="//codewithyang.herokuapp.com">Personal Website</a></li>
            </ul>
        </div>
    </div>

    <p class="copyright"><small>&copy; Copyright 2021, Code With Yang</small></p>
</footer>
<script>
    view_all = document.getElementById('view-all-btn');

    view_all.addEventListener('click', function() {
        view_all.style.boxShadow = '5px 4px 0 0 #307c87';
    });
</script>
{% endblock content %}