{% extends "base.html" %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css\login.css' %}"> {% endblock css_files %} {% block content %}
<img src='{% static "img\shopping.jpg" %}'>
<div class="login-form">
    <p class='title'>Restock</p>
    <p class="product-name">Product : {{product.name | truncatechars:14}}</p>
    <p class="stock">Stock : {{product.stock}}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">Restock</button>
        <button type="reset">Reset</button>
        <a href="{% url 'Profile' %}" class='back-btn'>Back</a>
    </form>
</div>
{% endblock content %}